.banner-img{
   background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/moralis-tsai-8xsktFRw28I-unsplash.jpg?raw=true);
    max-width: 100%;
    height: 720px;
    background-size:cover;
    background-position:center;
    @include sm(){
        height: 480px;
    }
}
.menu-middle-list{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin-bottom: 0px;    
}
.banner-warp{
    padding-top: 284px;
    @include sm(){
        padding-top: 254px;
    }
}
.banner-but-w{
    @include sm(){
        padding: 10px 0px;
        width: 48%;
    }
}
.lh-0{
    line-height: $line-height-0;
}
/*熱門特展圖外DIV*/
.img-list{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/alina-grubnyak-R84Oy89aNKs-unsplash.jpg?raw=true);
    width:350px;
    height: 350px;
    background-size:cover;
    background-position:center;
    @include md(){
        width: 768px;
        height: 350px;
    }
    
}
.img-list1{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/michel-catalisano--a0D9LpcKV8-unsplash.jpg?raw=true);
    width:350px;
    height: 350px;
    background-size:cover;
    background-position:center;
    @include md(){
        width: 768px;
        height: 350px;
    }
    
}
.img-list2{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/moralis-tsai-8xsktFRw28I-unsplash.jpg?raw=true);
    width: 350px;
    height: 350px;
    background-size:cover;
    background-position:center;
    @include md(){
        width: 768px;
        height: 350px;
    }
 } 

/*熱門特展*/
.img-list img{
  width: 100%;
  height: auto;
}
.img-list1 img{
    width: 100%;
    height: auto;
  }
.img-list2 img{
    width: 100%;
    height: auto;
  } 

.word-w{
    width:80%;
    @include md(){
        width: 100%; 
    }
}
.width-5{
    width:5%;
    @include md(){
        display:none ; 
    }
}
.fw-boder2{
    font-weight: 900;
}
.title-list-h{
    display: inline-flex;
}
.text-center{
    display: block;
}
.title{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/*直播回顧*/
.bg-body{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/people2.png?raw=true);
    max-width: 100%;
    height: 482px;
    background-size:cover;
    background-position:center;
    padding-left: 0;
}
.bg-list{
    width: 23%;
    height: 482px;
    background-color:$testcolor;
    opacity:0.9;
    position: absolute;
    @include l(){
        width:40% ;
    }
    @include md(){
        width: 93.6%; 
    }
}
.pic-img{
    width:128px;
    height: auto;
}
.pic-img img{
    width: 100%;
    height: 128px;
}


